{{- /*gotype: github.com/yoogoc/kratos-scaffold/generator.Proto*/ -}}
syntax = "proto3";
package {{.Package}};
option go_package = "{{.GoPackage}}";
option java_multiple_files = true;
option java_package = "{{.JavaPackage}}";
{{ range $i, $pi := .Fields.ProtoImports }}
import "{{ $pi }}";
{{- end }}
{{- if .GenHttp}}
import "google/api/annotations.proto";
{{- end }}

service {{.Name}}Service {
	rpc Create (Create{{.Name}}Request) returns (Create{{.Name}}Reply){{- if .GenHttp }} {
		option (google.api.http) = {
			post: "/api/v1/{{.Name | ToPlural | fieldStyle }}"
			body: "*"
		};
	}{{- end }};
	rpc Update (Update{{.Name}}Request) returns (Update{{.Name}}Reply){{- if .GenHttp }} {
		option (google.api.http) = {
			put: "/api/v1/{{.Name | ToPlural | fieldStyle }}/{{ .PrimaryFieldURLName }}"
			body: "*"
		};
	}{{- end }};
	{{- if .GenHttp }}
	rpc Destroy (Destroy{{.Name}}Request) returns (Destroy{{.Name}}Reply){{- if .GenHttp }} {
		option (google.api.http) = {
			delete: "/api/v1/{{.Name | ToPlural | fieldStyle }}/{{ .PrimaryFieldURLName }}"
		};
	}{{- end }};
	rpc Get (Get{{.Name}}Request) returns (Get{{.Name}}Reply){{- if .GenHttp }} {
		option (google.api.http) = {
			get: "/api/v1/{{.Name | ToPlural | fieldStyle }}/{{ .PrimaryFieldURLName }}"
		};
	}{{- end }};
	{{- else }}
	rpc DestroyBy (Destroy{{.Name}}ByRequest) returns (Destroy{{.Name}}ByReply);
	rpc FindBy (Find{{.Name}}ByRequest) returns (Find{{.Name}}ByReply);
	{{- end }}
	rpc List (List{{.Name}}Request) returns (List{{.Name}}Reply){{- if .GenHttp }} {
		option (google.api.http) = {
			get: "/api/v1/{{.Name | ToPlural | fieldStyle }}"
		};
	}{{- end }};
}

message {{.Name}} {
	{{- range $i, $f := .Fields }}
	{{ $f.FieldType.StringProto }} {{ $f.Name | fieldStyle }} = {{ add $i 1 }};
	{{- end }}
}
message Create{{.Name}}Request {
	{{- range $i, $f := .CreateFields }}
	{{ $f.FieldType.StringProto }} {{ $f.Name | fieldStyle }} = {{ add $i 1 }};
	{{- end }}
}
message Create{{.Name}}Reply {
	{{.Name}} {{.Name | fieldStyle }} = 1;
}
message Update{{.Name}}Request {
	{{ .PrimaryField.FieldType.StringProto }} {{ .PrimaryFieldName | fieldStyle }} = 1;
	{{- range $i, $f := .UpdateFields }}
	{{ $f.FieldType.StringProto }} {{ $f.Name | fieldStyle }} = {{ add $i 2 }};
	{{- end }}
}
message Update{{.Name}}Reply {
	{{.Name}} {{.Name | fieldStyle }} = 1;
}
{{$primaryField := .PrimaryField }}
{{- if .GenHttp }}
message Destroy{{.Name}}Request {
	{{ $primaryField.FieldType.StringProto }} {{ $primaryField.Name | fieldStyle }} = 1;
}
message Destroy{{.Name}}Reply {}
message Get{{.Name}}Request {
	{{ $primaryField.FieldType.StringProto }} {{ $primaryField.Name | fieldStyle }} = 1;
}
message Get{{.Name}}Reply {
	{{.Name}} {{.Name | fieldStyle }} = 1;
}
{{- else }}
message Destroy{{.Name}}ByRequest {
	{{.Name}}Param param = 1;
}
message Destroy{{.Name}}ByReply {
	int32 count = 1;
}
message Find{{.Name}}ByRequest {
	{{.Name}}Param param = 1;
}
message Find{{.Name}}ByReply {
	{{.Name}} {{.Name | fieldStyle }} = 1;
}
{{- end }}
message {{.Name}}Param {
	{{- $strToPreMap := .StrToPreMap}}
	{{- range $i, $f := .Fields.ParamFields }}
	{{ if eq $f.Type $strToPreMap.in }}{{ "repeated " }}{{ $f.FieldType.StringProto }}{{- else }}{{ $f.FieldType.StringProtoParam }}{{- end }} {{ $f.Name | fieldStyle }} = {{ add $i 3 }};
	{{- end }}
}
message List{{.Name}}Request {
	uint32 {{.PageParamName}} = 1;
	uint32 {{.PageSizeParamName}} = 2;
	{{.Name}}Param param = 3;
}
message List{{.Name}}Reply {
	repeated {{.Name}} {{.Name | ToPlural | fieldStyle }} = 1;
	uint32 count = 2;
}
