{{- /*gotype: github.com/yoogoc/kratos-scaffold/project_generator.CmdTmpl*/ -}}
//go:build wireinject
// +build wireinject

// The build tag makes sure the stub is not built in the final build.

package main

import (
	"{{.AppPkgPath}}/internal/biz"
	"{{.AppPkgPath}}/internal/data"
	"{{.AppPkgPath}}/internal/log"
	"{{.AppPkgPath}}/internal/middleware"
	"{{.AppPkgPath}}/internal/server"
	"{{.AppPkgPath}}/internal/service"

	"github.com/google/wire"
	"github.com/spf13/cobra"
)

func initApp(log.NameString, log.VersionString) (*cobra.Command, func(), error) {
	panic(wire.Build(
		ProviderSet,
		log.ProviderSet,
		biz.ProviderSet,
		data.ProviderSet,
		service.ProviderSet,
		server.ProviderSet,
		middleware.ProviderSet,
		newRootCmd,
		newCmd,
		newConf,
		newDataConf,
		newLogConf,
		newServerConf,
	))
}
