{{- /*gotype: github.com/yoogoc/kratos-scaffold/project_generator.CmdTmpl*/ -}}
package main

import (
	"log/slog"

	ilog "{{.AppPkgPath}}/internal/log"

	"github.com/go-kratos/kratos/v3"
{{- if not .IsBff }}
	"github.com/go-kratos/kratos/v3/transport/grpc"
{{- end }}
	"github.com/go-kratos/kratos/v3/transport/http"
	"github.com/google/wire"
	"github.com/spf13/cobra"
)

type ServerCommand cobra.Command

{{- if .IsBff }}
var ProviderSet = wire.NewSet(NewServerCmd)
{{- else }}
var ProviderSet = wire.NewSet(NewServerCmd, NewMigrateCmd)
{{- end }}

{{- if .IsBff }}
func NewServerCmd(versionString ilog.VersionString, logger *slog.Logger, hs *http.Server) *ServerCommand {
{{- else }}
func NewServerCmd(versionString ilog.VersionString, logger *slog.Logger, gs *grpc.Server, hs *http.Server) *ServerCommand {
{{- end }}
	return &ServerCommand{
		Use:                "server",
		Short:              "begin service",
		Long:               `begin service`,
		FParseErrWhitelist: cobra.FParseErrWhitelist{UnknownFlags: true},
		RunE: func(cmd *cobra.Command, args []string) error {
			app := kratos.New(
				kratos.Name(Name),
				kratos.Version(string(versionString)),
				kratos.Metadata(map[string]string{}),
				kratos.Logger(logger),
				kratos.Server(
{{- if not .IsBff }}
					gs,
{{- end }}
					hs,
				),
			)
			return app.Run()
		},
	}
}
