{{- /*gotype: github.com/YoogoC/kratos-scaffold/project_generator.DataTmpl*/ -}}
package data

import (
	"context"
	"{{.AppPkgPath}}/internal/biz"
	"{{.AppPkgPath}}/internal/conf"
	"{{.AppPkgPath}}/internal/data/ent"

	"github.com/go-kratos/kratos/v2/log"
	"github.com/google/wire"

	{{- if eq .DBDriverType "mysql"}}
	_ "github.com/go-sql-driver/mysql"
	{{- end}}
	"github.com/pkg/errors"
)

// ProviderSet is data providers.
var ProviderSet = wire.NewSet(NewEntClient, NewData, NewTxRepo)

type Data struct {
	log *log.Helper
	db  *ent.Client
}

func (d *Data) WithEntTx(ctx context.Context, fn func(ctx context.Context) error) error {
	// 如果事务内嵌套事务,则交由上层处理
	if tx := ent.TxFromContext(ctx); tx != nil {
		return fn(ctx)
	}
	tx, err := d.db.Tx(ctx)
	txContext := ent.NewTxContext(ctx, tx)
	if err != nil {
		return err
	}
	defer func() {
		if v := recover(); v != nil {
			_ = tx.Rollback()
			panic(v)
		}
	}()
	if err := fn(txContext); err != nil {
		if rerr := tx.Rollback(); rerr != nil {
			err = errors.Wrapf(err, "rolling back transaction: %v", rerr)
		}
		return err
	}
	if err := tx.Commit(); err != nil {
		return errors.Wrapf(err, "committing transaction: %v", err)
	}
	return nil
}

func (d *Data) EntClient(ctx context.Context) *ent.Client {
	tx := ent.TxFromContext(ctx)
	if tx != nil {
		return tx.Client()
	}
	return d.db
}

func NewTxRepo(d *Data) biz.TxRepo {
	return d
}

func NewEntClient(conf *conf.Data, logger log.Logger) *ent.Client {
	l := log.NewHelper(log.With(logger, "module", "{{.LoggerName}}/ent"))

	var ops []ent.Option
	if conf.Database.EntDebug {
		ops = append(ops, ent.Debug())
	} else {
		//ops = append(ops, ent.Log(log.Info))
	}

	client, err := ent.Open(
		conf.Database.Driver,
		conf.Database.Source,
		ops...,
	)
	if err != nil {
		l.Fatalf("failed opening connection to db: %v", err)
	}
	return client
}

func NewData(conf *conf.Data, logger log.Logger, db *ent.Client) (*Data, error) {
	l := log.NewHelper(log.With(logger, "module", "{{.LoggerName}}"))
	return &Data{
		log: l,
		db:  db,
	}, nil
}
