package biz

import (
	"context"
	"log/slog"

	"github.com/go-kratos/kratos/v3/log"
)

type GreeterRepo interface {
	SayHello(ctx context.Context, name string) (string, error)
}

type GreeterUsecase struct {
	repo GreeterRepo
	log  *slog.Logger
}

func NewGreeterUsecase(repo GreeterRepo, logger *slog.Logger) *GreeterUsecase {
	return &GreeterUsecase{
		repo: repo,
		log:  log.With(logger, "module", "biz/greeter"),
	}
}

func (uc *GreeterUsecase) SayHello(ctx context.Context, name string) (string, error) {
	uc.log.InfoContext(ctx, "SayHello", "name", name)
	return uc.repo.SayHello(ctx, name)
}
