{{- /*gotype: github.com/yoogoc/kratos-scaffold/project_generator.DemoTmpl*/ -}}
package data

import (
	"context"
	"fmt"

	"github.com/go-kratos/kratos/v2/log"
	"{{.AppPkgPath}}/internal/biz"
)

type greeterRepo struct {
	data *Data
	log  *log.Helper
}

func NewGreeterRepo(data *Data, logger log.Logger) biz.GreeterRepo {
	return &greeterRepo{
		data: data,
		log:  log.NewHelper(log.With(logger, "module", "data/greeter")),
	}
}

func (r *greeterRepo) SayHello(ctx context.Context, name string) (string, error) {
	r.log.WithContext(ctx).Infof("SayHello: %s", name)
	return fmt.Sprintf("Hello %s", name), nil
}
