{{- /*gotype: github.com/yoogoc/kratos-scaffold/project_generator.DemoTmpl*/ -}}
package service

import (
	"context"
	"log/slog"

	"github.com/go-kratos/kratos/v3/log"
	v1 "{{.ApiPkgPath}}"
	"{{.AppPkgPath}}/internal/biz"
)

type GreeterService struct {
	v1.UnimplementedGreeterServer
	uc  *biz.GreeterUsecase
	log *slog.Logger
}

func NewGreeterService(uc *biz.GreeterUsecase, logger *slog.Logger) *GreeterService {
	return &GreeterService{
		uc:  uc,
		log: log.With(logger, "module", "service/greeter"),
	}
}

func (s *GreeterService) SayHello(ctx context.Context, req *v1.HelloRequest) (*v1.HelloReply, error) {
	msg, err := s.uc.SayHello(ctx, req.Name)
	if err != nil {
		return nil, err
	}
	return &v1.HelloReply{Message: msg}, nil
}
