{{- /*gotype: github.com/yoogoc/kratos-scaffold/project_generator.DemoTmpl*/ -}}
package data

import (
	"context"
	"fmt"
	"log/slog"

	"github.com/go-kratos/kratos/v3/log"
	"{{.AppPkgPath}}/internal/biz"
	"{{.AppPkgPath}}/internal/conf"
)

type greeterRepo struct {
	conf *conf.Data
	log  *slog.Logger
}

func NewGreeterRepo(c *conf.Data, logger *slog.Logger) biz.GreeterRepo {
	return &greeterRepo{
		conf: c,
		log:  log.With(logger, "module", "data/greeter"),
	}
}

func (r *greeterRepo) SayHello(ctx context.Context, name string) (string, error) {
	r.log.InfoContext(ctx, "SayHello", "name", name)
	return fmt.Sprintf("Hello %s", name), nil
}
