{{- /*gotype: github.com/yoogoc/kratos-scaffold/project_generator.LogTmpl*/ -}}
package log

import (
	"log/slog"
	"os"

	"github.com/go-kratos/kratos/v3/log"
	"github.com/google/wire"
)

// log level: debug info warn error dpanic panic fatal

type VersionString string
type NameString string

var ProviderSet = wire.NewSet(NewKratosLogger)

func NewKratosLogger(name NameString, version VersionString) *slog.Logger {
	logger := log.NewLogger(
		slog.NewJSONHandler(os.Stdout, &slog.HandlerOptions{
			Level: slog.LevelInfo,
		}),
		log.WithFilter(log.FilterKey("password")),
	).With(
		slog.String("service.name", string(name)),
		slog.String("service.version", string(version)),
	)

	slog.SetDefault(logger)

	return logger
}
